<template>
  <v-container v-if="nowPlaying.thumbnail">
        <v-row>
          <v-col :cols="8">
            <v-img class="mb-6" :src="nowPlaying.thumbnail.max"></v-img>
            <v-progress-linear
              :color="`rgb(${nowPlaying.colorData.dominant[0]}, ${nowPlaying.colorData.dominant[1]}, ${nowPlaying.colorData.dominant[2]})`"
              rounded
              height="12"
              :value="(currentPos / nowPlaying.length)*100">
            </v-progress-linear>
            <p>
              [ {{ elapsedTime }} /
               {{ totalTime }} ]
            </p>
          </v-col>
          <v-col :cols="4">
            <h3>{{nowPlaying.title}}</h3>
            <p>Uploaded by: {{nowPlaying.author}}<br />
               Requested by: {{nowPlaying.user.displayName}}</p>
          </v-col>
        </v-row>
        
        
        <p style="display: inline-block"></p>
  </v-container>
</template>

<script>
import * as format from 'format-duration';
export default {
  props: ['data'],
  data: function() {
    return {
      now: Date.now(),
      nowPlaying: {},
      startTime: 0,
      currentPos: 0,
      endTime: 0,
      elapsedTime: '0:00',
      totalTime: '0:00',
      barColor: 'blue',
    };
  },
  mounted() {
    const reinit = () => {
      this.now = Date.now();
      if (this.data) {
        this.startTime = this.data.trackStartTime;
        this.nowPlaying = this.data.queue.tracks[0];
        this.endTime = this.startTime + this.nowPlaying.length;
        this.currentPos = this.now - this.startTime;
        this.elapsedTime = format(this.now - this.startTime);
        this.totalTime = format(this.nowPlaying.length);
      }
    }
    reinit();
    setInterval(() => {
      reinit();
    }, 250);
  },
};
</script>

<style>

</style>
